In [1]:
# Dependencies and Setup
import json
import requests
import pandas as pd

In [2]:
# List of years
year_list = ["2014?format=json", "2015?format=json", "2016?format=json", "2017?format=json", "2018?format=json"]

# Set url for API
url = "https://api.bjs.ojp.gov/bjs/ncvs/v2/personal/"

# Set empty lists to hold weather data
weight = []
age = []
gender = []
hincome = []
newcrime = []
location = []
vicservices = []
years = []

# Counter for number of peronal crimes
pcrime_count = 0

# Loop through each year
for year in year_list:

    # Create search query, make a request and store in JSON file
    query = url + year
    response = requests.get(query)
    response_json = response.json()
    
    # Try to grab the data about the personal crime from the NCVS API
    try:
        weight.append(response_json['results'][0]['weight'])
#         age.append(response_json['results'][0]['age'])
#         gender.append(response_json['results'][0]['gender'])
#         hincome.append(response_json['results'][0]['hincome'])
#         newcrime.append(response_json['results'][0]['newcrime'])
#         location.append(response_json['results'][0]['location'])
#         vicservices.append(response_json['results'][0]['vicservices'])
        years.append(year)
        pcrime_count += 1
        
    # Handle exceptions for a value that is not available in the NCVS API
    except Exception:
        # Append null values
        print(f"City not found...")
    

print(f"Processing city {pcrime_count} | {year}")

City not found...
City not found...
City not found...
City not found...
City not found...
Processing city 0 | 2018?format=json

In [ ]:
# Create a dataframe
ncvs_df = {
    "year": years,
    "weight_x": weight_x,
    "year_x" year_x,
    "ager": ager,
    "gender": gender,
    "hincome_x": hincome_x,
    "newcrime_x": newcrime_x,
    "locationr_x": locationr_x,
    "vicservices_x": vicservices_x,
    "weight_y": weight_y, 
    "year_y": year_y,
    "hhage": hhage,
    "hhgen": hhgen,
    "hincome_y": hincome_y,
    "newcrime_y": newcrime_y,
    "locationr_y": locationr_y,
    "vicservices_y": vicservices_y
}

ncvs_df = pd.DataFrame(ncvs_df)
ncvs_df.head()

In [3]:
# Get a list of all of our columns for easy reference
ncvs_df.columns

Index(['weight_x', 'year', 'ager', 'direl', 'ethnic1R', 'gender', 'hincome_x',
       'hispanic', 'injury', 'locationr_x', 'marital2', 'msa_x', 'newcrime_x',
       'newoff_x', 'notify_x', 'popsize_x', 'race1R', 'region_x',
       'seriousviolent', 'treatment', 'vicservices_x', 'weapcat', 'weapon',
       'weight_y', 'hhage', 'hheth1R', 'hhgen', 'hhhisp', 'hhrace1R',
       'hincome_y', 'hnumber', 'locationr_y', 'msa_y', 'newcrime_y',
       'newoff_y', 'notify_y', 'popsize_y', 'region_y', 'vicservices_y'],
      dtype='object')

In [4]:
# Remove the rows with missing data
ncvs_df = ncvs_df.dropna(how = "any")
ncvs_df.head()

,weight_x,year,ager,direl,ethnic1R,gender,hincome_x,hispanic,injury,locationr_x,...,hincome_y,hnumber,locationr_y,msa_y,newcrime_y,newoff_y,notify_y,popsize_y,region_y,vicservices_y
0,2624.881,2018,7,1,1,2,5,2,0,1,...,4,2,1,1,3,8,2,4,3,2
1,2624.881,2018,7,1,1,2,5,2,0,1,...,3,4,1,1,3,8,1,1,3,2
2,2624.881,2018,7,1,1,2,5,2,0,1,...,7,3,1,2,3,8,2,0,3,2
3,2624.881,2018,7,1,1,2,5,2,0,1,...,7,3,1,2,3,8,2,0,3,2
4,2624.881,2018,7,1,1,2,5,2,0,1,...,88,2,1,1,3,8,1,2,3,2

In [ ]:
# Replace column names
merge_df['personalData'] = merge_df['personalData'].replace(
    {'weight_x': 'weight_p', 'year_x': 'year_p', 'ager': 'age_p', 'gender': 'gender_p',
     'hincome_x': 'hincome_p', 'newcrime_x': 'newcrime_p', 'locationr_x': 'locationr_p', 'vicservices_x': 'vicservices_p'
    'weight_y': 'weight_h', 'year_y': 'year_h', 'hhage': 'age_h', 'hhgen': 'gender_h',
     'hincome_y': 'hincome_h', 'newcrime_y': 'newcrime_h', 'locationr_y': 'locationr_h', 'vicservices_x': 'vicservices_h'})
merge_df.head()