In [110]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests

personal_data=requests.get('https://api.bjs.ojp.gov/bjs/ncvs/v2/personal/2018?format=json').json()
household_data=requests.get('https://api.bjs.ojp.gov/bjs/ncvs/v2/household/2018?format=json').json()

In [112]:
personal_df=pd.DataFrame(personal_data["personalData"])
household_df=pd.DataFrame(household_data['householdData'])

In [113]:
personal_df.head()

,weight,year,ager,direl,ethnic1R,gender,hincome,hispanic,injury,locationr,...,newoff,notify,popsize,race1R,region,seriousviolent,treatment,vicservices,weapcat,weapon
0,2381.6323,2018,6,4,1,1,2,2,0,3,...,4,2,1,1,2,2,0,2,5,3
1,2387.953,2018,4,4,1,1,5,2,0,3,...,2,2,1,1,1,1,0,2,0,2
2,1688.3444,2018,5,4,4,2,4,1,0,5,...,4,2,1,1,1,2,0,2,0,2
3,4828.4526,2018,1,3,4,1,2,1,1,1,...,3,2,1,1,4,1,1,2,3,1
4,1285.5225,2018,6,2,1,1,88,2,0,3,...,4,2,1,1,4,2,0,2,0,2

In [114]:
household_df.head()

,weight,year,hhage,hheth1R,hhgen,hhhisp,hhrace1R,hincome,hnumber,locationr,msa,newcrime,newoff,notify,popsize,region,vicservices
0,589.67944,2018,3,1,1,2,1,7,3,3,2,3,8,2,0,2,2
1,529.98303,2018,2,1,2,2,1,88,3,1,2,3,8,2,0,2,2
2,529.98303,2018,2,1,2,2,1,88,3,1,2,3,8,2,0,2,2
3,646.38684,2018,4,2,2,2,2,5,1,1,2,3,6,1,1,2,2
4,1874.0116,2018,3,4,1,1,3,7,2,3,2,3,8,1,2,4,2